.tracks-container {
  padding: 50px 20px;
  text-align: center;
  background-color: #f9f9f9; /* Light background */
  position: relative;
}

.tracks-heading {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 40px;
}

.tracks-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 80px;
}

